{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!--<label for="username">username</label>-->
    <!--<p><input type="text" name="username"></p>-->
    <!--<label for="password">password</label>-->
    <!--<p><input type="password" name="password"></p>-->
    <button>로그인</button>
</form>
<a href="https://www.facebook.com/v2.10/dialog/oauth?
  client_id={{ facebook_app_id }}&
  scope={{ facebook_scope|join:',' }}&
  redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'member:front-facebook-login' %}">페이스북 로그인</a>
<!--동적 redirect_uri를 위해서-->
<!--request.scheme: http-->
<!--request.META.HTTP_HOST: localhost:8000-->
<a href="{% url 'member:signup' %}">회원가입</a>
{% endblock %}
