<div id="{{ post.pk }}">
    <p>{{ post.author }}님이 {{ post.created_at }}에 작성하신 포스트입니다</p>
    {% if user in post.liked_users.all %}
    <i class="heart fa fa-heart" name="{{ post.pk }}" aria-hidden="true"></i>
    {% else %}
    <i class="heart fa fa-heart-o" name="{{ post.pk }}" aria-hidden="true"></i>
    {% endif %}
    <span id="{{ post.pk }}-total-likes">좋아요 수: {{ post.total_likes }}</span>
    {% if post.author == user %}
    <form action="{% url 'post:delete' pk=post.pk %}?next=
    {% if post_type == 'list' %}
     /post/#post-{{ post.pk }}
    {% elif post_type == 'detail' %}
     {% url 'post:detail' post_pk=post.pk %}
    {% endif %}" method="POST">
        {% csrf_token %}
        <button type="submit">X</button>
    </form>
    {% endif %}
    {% if post.photo %}
    <a href="{% url 'post:detail' post_pk=post.pk %}">
        <img src="{{ post.photo.url }}"/>
    </a>
    <ul id="post-comments-{{ post.pk }}">
        {% for comment in post.comments.all %}
        <li>{{ comment.content }}</li>
        {% if comment.author == user %}
        <form action="{% url 'post:comment_delete' pk=comment.pk %}?next=
    {% if post_type == 'list' %}
     /post/#post-comments-{{ post.pk }}
    {% elif post_type == 'detail' %}
     {% url 'post:detail' post_pk=post.pk %}
    {% endif %}" method="POST">
            {% csrf_token %}
            <button type="submit">X</button>
        </form>
        {% endif %}
        {% endfor %}
    </ul>

    <form action="{% url 'post:comment_create' post_pk=post.pk %}?next=
    {% if post_type == 'list' %}
     /post/#post-{{ post.pk }}
    {% elif post_type == 'detail' %}
     {% url 'post:detail' post_pk=post.pk %}
    {% endif %}"
          method="POST">
        {% csrf_token %}
        <input type="text" name="content" required>
        <button type="submit">댓글 달기</button>
    </form>
    {% else %}
    <h3>이미지 파일이 없습니다</h3>
    {% endif %}
</div>