<!--Template language의 for구문을 사용해서 각 Post의 photo항목을 출력 (O)-->
<!--.photo속성의 'url'속성을 사용해서 img태그를 사용 실제 이미지를 보여주기 (O)-->

<!--1. 사진 업로드하기 (O)-->
<!--2. 사진에 댓글달기 (O)-->
<!--extra1) urls.py모듈을 post애플리케이션 내부에 생성하고,
    include를 이용해서 root urls.py모듈에서 사용 (O)-->
<!--extra2) 사진 댓글 지우기, 사진 지우기 (O)-->


<!--
1. 작성자 username나오게
2. Post를 나타내는 HTML요소를 include/post.html로 분리해서 사용
3. Post 및 Comment삭제 기능 추가(작성한 유저만 가능하도록)
-->

<!--1. post를 작성한 작성자(author)의 username을 template에서 표시하도록 만들기-->
<!--2. post를 나타내는 HTML 요소를 include/post.html로 분리해서 post_list, post_detail에서 include 하여 나타내기-->
<!--3. post와 comment를 삭제할 수 있는 기능 추가 (해당 post나 comment의 작성자인 경우에만 삭제가 가능하도록 하기)-->

{% extends 'base.html' %}
{% block content %}
{% for post in posts %}
{% include 'include/post.html' with post_type='list'  %}
{% endfor %}
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>

var heart = $('.heart')

// 하트 클릭 시,
heart.click(function() {
    // 색깔 채워넣기/비우기
    $(this).toggleClass("fa-heart-o fa-heart")

    // 해당 post pk 가져오기
    var pk = $(this).attr('name')

    // ajax post reqeust 보내기
    $.ajax({
        type: "POST",
        url: "{% url 'post:like' %}",
        data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(response){
            var totalLikeEl = $('#' + pk + '-total-likes');
            var totalLikeNum = totalLikeEl.text()
            totalLikeEl.html('좋아요 수: ' + response.like_count)
        },
        error: function(response){
            alert("로그인이 필요합니다.");
            window.location.replace("/member/login/")

        }
    });
})

</script>
{% endblock %}

